.productList {
  height: 100%;
  margin: 0;
  display: grid;
  gap: 1rem;
  padding: 0em 2em;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.card {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 300px;
}

.skeleton {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-height: 300px;
}

.searchBarContainer {
  padding: 2em;
  padding-top: 8em;
  display: flex;
  justify-content: flex-end;
}

.searchBarContainer > label {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.searchInput {
  all: unset;
  border: 1px solid var(--main-text-color);
  border-radius: 6px;
  height: 50px;
  width: 300px;
  font-size: 1.3rem;
  padding: 0 0.5em;
}
.searchInput:focus {
  border: 2px solid var(--main-text-color);
  margin: -1px;
}

.searchInput:hover{
  cursor:text;
}

@media (max-width: 500px) {
  .productList {
    grid-template-columns: 1fr;
  }

  .searchBarContainer > label > p {
    display: none;
  }

  .searchInput {
    width: 1fr;
    font-size: 0.5em;
    width: 250px;
  }
}

.errorCard {
  width: 100%;
  height: 100%;
  padding: 15em 5em;
  text-align: center;
}
