.img{
    width:20em;
    cursor:pointer;
}

.background{
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index:1000   
}
.modalWrapper{
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    color: #000;
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    z-index: 10;
    border-radius: 10px;
}

.modalImg{
    width:18em;
    height: 100%;
    border-radius: 10px;
    background: #000;  
}

.closeModalButton{
    color: #000;
    background: #fcfcfc;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
    padding: 0;
    z-index: 10;
}